.toolbarButton {
	color: var(--button-auth);
	font-size: var(--font-size-xxl);
	transition: all 0.1s;
}

.toolbarButton:hover {
	cursor: pointer;
	color: var(--button-auth-hov);
}

.toolbarButton:active {
	color: var(--button-auth);
	opacity: 0.25;
}
