.toolbar {
	display: flex;
	align-items: center;
	background-color: var(--main-color);
	font-weight: 500;
	border-bottom: 1px solid var(--border-color);
	position: sticky;
	top: 0px;
	padding: 10px;
	min-height: 55px;
}

@supports (backdrop-filter: blur(20px)) {
	.toolbar {
		border: none;
		background-color: var(--background-op);
		backdrop-filter: blur(20px);
	}
}

.toolbarTitle {
	margin: 0;
	font-size: 16px;
	font-weight: 800;
	line-height: 1;
}
.toolbarButton {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.leftItems,
.rightItems {
	flex: 1;
	padding: 0px 10px;
	display: flex;
}

.rightItems {
	flex-direction: row-reverse;
}

.leftItems .toolbarButton {
	margin-right: 20px;
}

.rightItems .toolbarButton {
	margin-left: 20px;
}

.leftItems .toolbarButton:last-child,
.rightItems .toolbarButton:last-child {
	margin: 0;
}
