.settingsList {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.settingsUser {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	.avatar {
		padding-right: 20px;
		img {
			object-fit: cover;
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
	}
	.username {
		font-size: var(--font-size-md);
	}
	.dataCreate,
	.dataId {
		color: var(--border-color);
		font-size: var(--font-size-sm);
	}
}
.logoutContainer {
	margin-top: auto;
	padding-bottom: 70px;
	display: flex;
	justify-content: center;
}
