.authErr {
	left: 0;
}
.errorItem {
	display: inline-block;
	margin-bottom: 5px;
	&:last-child {
		margin-bottom: 0px;
	}
}

.errorContent {
	flex-wrap: wrap;
}

.showMore {
	cursor: pointer;
	color: var(--error-color);
	font-weight: bold;
	display: inline-flex;
	gap: 2px;
}

.showMore span {
	display: inline-block;
	animation: wave 2.4s infinite ease-in-out;
}

.showMore span:nth-child(1) {
	animation-delay: 0s;
}
.showMore span:nth-child(2) {
	animation-delay: 0.2s;
}
.showMore span:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes wave {
	0%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
}
