body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formSignIn {
	max-width: 450px;
	width: 100%;
	padding: 40px;
	background-color: var(--main-color);
	border-radius: 10px;
	box-shadow: 0px 4px 12px var(--box-shadow);
	text-align: left;
}
.formSignInHeading {
	color: var(--text-color);
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.formGroup {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.formControl {
	width: 100%;
	font-size: 16px;
	padding: 12px 15px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background-color: var(--background-button);
	transition: border-color 0.3s;
	outline: none;
	color: var(--text-color);
}

.errorText {
	position: absolute;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5px;
	bottom: 100%;
	right: 0;
	width: 185px;
	color: var(--error-color);
	background-color: var(--main-color);
	padding: 5px 10px;
	border: 0.5px solid var(--error-color);
	border-radius: 5px;
	box-shadow: 0px 4px 12px var(--box-shadow);
}

.btn_login {
	width: 100%;
	padding: 12px;
	color: var(--stable-light-color);
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-align: center;
	background-color: var(--button-auth);
	&:hover {
		background-color: var(--button-auth-hov);
	}
}

.btn_register {
	display: inline-block;
	cursor: pointer;
	text-align: left;
	margin: 30px 0 0;
	color: var(--button-auth);
	font-size: 14px;
	transition: color 0.3s ease;
	&:hover {
		color: var(--button-auth-hov);
	}
}
.eyeIcon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--text-color);
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
