.tabsMain {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--main-color);
	border-top: 0.5px solid var(--border-color);
}

.tabMain {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 25px;
	padding: 5px;
	color: var(--border-color);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.tabMain.active {
	color: var(--text-color);
	background-color: var(--background-button);
}
